/* Basic */

@font-face {
    font-family: "Courier New";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Courier New"), url('/fonts/courier-new.ttf') format('ttf');
}

@font-face {
    font-family: "Courier New";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Courier New"), url('/fonts/cour_new_bold.ttf') format('ttf');
}


@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local("Montserrat"), url('/fonts/montserrat-regular.woff2') format('woff2');
}


@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local("Montserrat"), url('/fonts/montserrat-500.woff2') format('woff2');
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("Montserrat"), url('/fonts/montserrat-600.woff2') format('woff2');
}

@font-face {
    font-family: "Montserrat";
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: local("Montserrat"), url('/fonts/montserrat-900italic.woff2') format('woff2');
}

body {
    font-family: "Courier New", sans-serif;
}

/* Styles */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    padding-top: 40px;
}

.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {}

.header__logo-img {}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu-list {
    display: flex;
    flex-direction: row;
}

.header__menu-list-item {
    padding-left: 40px;
}

.header__menu-link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
}

.header__menu-link:hover {
    text-decoration: underline;
    color: #FBBF00;
}

.header__content {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.header__content-tagline {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;

    color: #000000;
}

.header__content-company-name {
    font-weight: 700;
    color: #FBBF00;
}

.header__content-box {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.header__content-button {
    width: 366px;
    height: 84px;

    background: #FBBF00;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.header__content-button:hover {
    background: #FFCC01;
}

.header__content-description-box {
    width: 400px;
    padding-left: 50px;
}

.header__content-description {}

.header__content-description-img {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.header__content-img {
    padding-right: 20px;
}

.ip {
    background: url('/img/dash.svg');
    background-repeat: no-repeat;
    height: 110px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ip__box {
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}

.ip__item {}

.ip__title {
    font-weight: 400;
    font-size: 20px;
}

.ip__value {
    color: #303030;
    font-weight: 400;
    font-size: 18px;
    max-width: 500px;
}

.vpn {}

.vpn__about-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.vpn__info {
    width: 584px;
}

.vpn__title {
    padding-bottom: 50px;
}

.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;

    color: #000000;
}

.vpn__text {}

.text--20 {
    font-size: 20px;
    color: #303030;
}

.vpn__schema {}

.user__icon {}

.advantages {}

.advantages__title {}

.advantages__box {
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.advantages__box-left {
    width: 442px;
}

.advantages__item {
    margin-bottom: 50px;
}

.advantages__item-subtitle {
    margin-bottom: 20px;
}

.subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;

    color: #000000;
}

.advantages__item-text {}

.text--18 {
    font-size: 18px;
    color: #303030;
}

.advantages__box-right {
    width: 442px;
}

.setting {}

.setting__title {}

.setting__company-name {
    color: #FBBF00;
}

.setting__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 100px;
}

.setting__item {
    width: 320px;
    height: 378px;

    border: 2px solid #000000;
    border-radius: 40px;
    text-align: center;
}

.setting__item-img {
    padding-top: 70px;
    padding-bottom: 50px;
}

.setting__img {
    margin: 0 auto;
}

.setting__text {
    width: 193px;
    margin: 0 auto;
}

.arrow {
    margin: 10px auto;
}

.setting__link {
    text-decoration: none;
    color: #FBBF00;
}

.setting__link:hover {
    text-decoration-line: underline;
}

.text--orange {
    color: #FBBF00;
}

.reviews {}

.reviews__title {}

.reviews__box {
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.reviews__item {
    width: 480px;
}

.reviews__name {}

.reviews__date {
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 14px;
    line-height: 16px;
    color: #888888;

}

.reviews__text {}

.prices {}

.prices__title {}

.prices__banner {
    padding-top: 50px;
}

.prices__banner-img {}

.prices__content {
    padding-left: 100px;
    padding-right: 100px;
}

.prices__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.prices__item {
    width: 173px;
    margin: 0 auto;
}

.prices__item-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-align: center;

    color: #000000;
    padding-bottom: 15px;
}

.prices__item-price {
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-align: center;

    color: #000000;

    padding-bottom: 15px;
}

.prices__item-undertitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;

    color: #888888;
    padding-bottom: 15px;
}

.prices__item-old-price {
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    text-decoration-line: line-through;

    color: #000000;
}

.prices__subscription {
    width: 550px;
    color: #888888;
    padding-bottom: 30px;
}

.prices__subtitle {}

.prices__bonus-box {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}

.prices__bonus-box-left {
    padding-right: 23px;
}

.prices__bonus-box-item {
    display: flex;
    margin-bottom: 50px;
}

.prices__bonus-box-img {}

.prices__img {}

.prices__bonus-box-text {
    margin-left: 23px;
    width: 263px;
}

.prices__bonus-box-right {}

.prices__button {
    display: flex;
    margin: 0 auto;
    padding-bottom: 50px;
}

.prices__btn {
    width: 366px;
    height: 84px;

    background: #FBBF00;
    border-radius: 50px;
    border: none;
    margin: 0 auto;
}

.prices__btn:hover {
    background: #FFCC01;
    cursor: pointer;
}

.footer {
    padding-top: 100px;
    padding-bottom: 40px;
}

.footer__box {
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.footer__links {}

.footer__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #000000;

    padding-left: 50px;
}

.footer__link:hover {
    color: #FBBF00;
}

/* Modal Window */

.modal__box {
    width: 491px;
    background: #FFF;
    margin: 0 auto;
    border-radius: 10px;
}

.modal__container {
    width: 400px;
    margin: 0 auto;
}

.modal__header {
    width: 100%;
    background: #FBBF00;
    border-radius: 10px 10px 0 0;
    padding: 3px 0 30px 0px;
}

.close {
    display: block;
    padding: 18px 18px 0 0;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    text-align: right;
    font-weight: 600;
    color: #FFF;
}

.modal__title {
    font-size: 24px;
    font-weight: 600;
    color: #303030;
    text-align: center;
    margin: 0 auto;
}

.modal__body {
    display: flex;
    flex-direction: column;
    margin: 70px 0 0 0;
}

.modal__form-input {
    color: rgba(51, 51, 51, 0.7);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    border: none;
    border-bottom: 1px solid #333333;
}

.modal__button {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #303030;
    background: #FBBF00;
    width: 100%;
    height: 60px;
    border: none;
    cursor: pointer;
    margin: 50px auto;
    border-radius: 8px;
}

.modal__button:hover {
    background: #FBBF00;
    -moz-box-shadow: 0 0 20px #FBBF00;
    -webkit-box-shadow: 0 0 20px #FBBF00;
    box-shadow: 0 0 20px #FBBF00;
}

#modal__window {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal__link {
    text-decoration: none;
    color: #FFF;
}

#modal__callback {
    position: relative;
    background-color: #fefefe;
    margin: 100px auto;
    padding: 0;
    border: 1px solid #888;
    max-width: 40%;
    min-width: min-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
}

#modal__window:target {
    display: block;
}